{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="row">{% include 'AppBundle::Partials/pets.html.twig'%}</div>
    <div class="navigation text-center">
        {{ knp_pagination_render(pets) }}
    </div>
{% endblock %}
