<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="panel panel-default">
          <div class="panel-body">
              {% include 'AppBundle::Partials/sing-in-up-tabs.html.twig' %}
          </div>
        </div>
    </div>
  </div>
</div>
